src/main/mule/my-app-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="875dbd9a-f56a-4725-8711-cdafa0f2b865" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-app-demoFlow" doc:id="bb5e30f8-4516-4026-a378-65afb93a0025" >
		<http:listener doc:name="Listener" doc:id="ff6d3689-ebfc-4ccc-8257-0ac3c71cf612" config-ref="HTTP_Listener_config" path="/app"/>
		<logger level="INFO" doc:name="Request Received" doc:id="45d2cca5-ad18-41ef-a35c-3c38636664b4" message="Request Received #[payload]"/>
		<ee:transform doc:name="Message" doc:id="2d9522a4-fccf-48f7-b0fb-d092488e5260" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message : "Success !!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
